/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

code {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

:root {
  --ifm-font-weight-light: 200;
  --ifm-font-weight-normal: 300;
  --ifm-font-weight-semibold: 400;
  --ifm-font-weight-bold: 600;
  --ifm-color-primary: #5434ff;
  --ifm-color-primary-dark: #3a15ff;
  --ifm-color-primary-darker: #2d06ff;
  --ifm-color-primary-darkest: #2200d7;
  --ifm-color-primary-light: #5e40ff;
  --ifm-color-primary-lighter: #694dff;
  --ifm-color-primary-lightest: #7359ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5694fd;
  --ifm-color-primary-dark: #498cfd;
  --ifm-color-primary-darker: #3b83fd;
  --ifm-color-primary-darkest: #317dfd;
  --ifm-color-primary-light: #78a9fd;
  --ifm-color-primary-lighter: #88b4fe;
  --ifm-color-primary-lightest: #bbd4fe;
}

/* make mermaid diagrams readable on dark mode */
[data-theme='dark'] p img[src$=".svg"] {
  filter: invert(0.7);
}

table {
  table-layout: fixed;
}

table td {
  word-break: break-word;
}


@media (min-width: 997px) {
  .navbar-title {
    position: absolute;
    margin-top: 20px;
    margin-left: 287px;
    font-size: larger;
  }
}
