openapi: 3.0.0
servers:
  - url: https://api.immersve.com/
    description: Sandbox server
info:
  version: 1.0.0
  title: Immersve API
  x-logo:
    url: 'https://www.immersve.com/img/immersvelogo-bf8a9fe8408d733c996c2f7d8251e521.svg'
    altText: Immersve logo
tags:
  - name: authentication
    x-displayName: Authentication
  - name: accounts-custodial
    x-displayName: Accounts (Custodial)
  - name: assets
    x-displayName: Assets
  - name: asset-activities
    x-displayName: Asset activities
  - name: card
    x-displayName: Cards
  - name: cards-custodial
    x-displayName: Cards (Custodial)
  - name: currency
    x-displayName: Currency
  - name: transactions
    x-displayName: Transactions
  - name: kyc-custodial
    x-displayName: KYC (Custodial)
  - name: prerequisites
    x-displayName: Prerequisites
  - name: immersve-webhooks
    x-displayName: Webhooks
  - name: simulator
    x-displayName: Simulator
security:
  - $ref: './models/api-key-auth.yaml'
  - immersve_auth: []
paths:
  '/siwe/generate-challenge':
    $ref: './endpoints/login/siwe-generate-challenge.yaml'
  '/siwe/login':
    $ref: './endpoints/login/siwe-login.yaml'
  '/api/cards/orders':
    $ref: './endpoints/cards/card-order.yaml'
  '/api/cards/{cardId}/cancel-async':
    $ref: './endpoints/cards/card-cancel.yaml'
  '/api/cards/{cardId}/cancel':
    $ref: './endpoints/cards/card-cancel-deprecated.yaml'
  '/api/cards/{cardId}/pan-token':
    $ref: './endpoints/cards/card-pan-token.yaml'
  '/api/prerequisites/{action}':
    $ref: './endpoints/prerequisites/prerequisites.yaml'
  '/api/currencies':
    $ref: './endpoints/currency/currency-list.yaml'
  '/api/currency/convert':
    $ref: './endpoints/currency/currency-convert.yaml'
  '/api/cards/{cardId}':
    $ref: './endpoints/cards/card-get.yaml'
  '/api/cards/account/{accountId}':
    $ref: './endpoints/cards/cards-list.yaml'
  '/api/assets':
    $ref: './endpoints/assets/asset-balance-get.yaml'
  '/api/assets/{assetId}/activities':
    $ref: './endpoints/asset-activities/asset-activities-list.yaml'
  '/api/assets/{assetId}/activities/{eventId}':
    $ref: './endpoints/asset-activities/asset-activities-get.yaml'
  '/api/transactions/{transaction-id}':
    $ref: './endpoints/transactions/transaction-get.yaml'
  '/api/accounts/{account-id}/transactions':
    $ref: './endpoints/transactions/transactions-list.yaml'
  '/api/custodial/accounts':
    $ref: './endpoints/accounts/account-create-custodial.yaml'
  '/api/custodial/accounts/{accountId}':
    $ref: './endpoints/accounts/account-single-custodial.yaml'
  '/api/custodial/accounts/{accountId}/cancel':
    $ref: './endpoints/accounts/account-cancel-custodial.yaml'
  '/api/custodial/cards':
    $ref: './endpoints/cards/card-create-custodial.yaml'
  '/api/custodial/cards/{cardId}/close':
    $ref: './endpoints/cards/card-close-custodial.yaml'
  '/api/custodial/cards/{cardId}/block':
    $ref: './endpoints/cards/card-block-custodial.yaml'
  '/api/custodial/cards/{cardId}/activate':
    $ref: './endpoints/cards/card-activate-custodial.yaml'
  '/api/custodial/cards/{cardId}/unblock':
    $ref: './endpoints/cards/card-unblock-custodial.yaml'
  '/api/custodial/cards/{cardId}':
    $ref: './endpoints/cards/card-get-custodial.yaml'
  '/api/custodial/cards/{cardId}/secure':
    $ref: './endpoints/cards/card-get-secure-custodial.yaml'
    servers:
      - url: https://api-sec.immersve.com/
        description: Secure server
  '/api/custodial/cards/{cardId}/set-pin':
    $ref: './endpoints/cards/card-set-pin.yaml'
    servers:
      - url: https://api-sec.immersve.com/
        description: Secure server
  '/api/custodial/kyc-resources':
    $ref: './endpoints/kyc/upload-kyc-resource.yaml'
  '/api/simulator/authorize':
    $ref: './endpoints/simulator/authorize.yaml'
    servers:
      - url: https://test.immersve.com/
  '/api/simulator/clear':
    $ref: './endpoints/simulator/clear.yaml'
    servers:
      - url: https://test.immersve.com/
  '/api/simulator/reverse':
    $ref: './endpoints/simulator/reverse.yaml'
    servers:
      - url: https://test.immersve.com/

  '/authorizations':
    servers:
      - url: https://<partnerBaseUrl>/transactions
    $ref: './endpoints/webhooks/authorization-custodial.yaml'
  '/transactions':
    servers:
      - url: https://<partnerBaseUrl>/transactions
    $ref: './endpoints/webhooks/transaction-custodial.yaml'
  '/card-status-change':
    servers:
      - url: https://<partnerBaseUrl>/card/notification
    $ref: './endpoints/webhooks/card-status-change-custodial.yaml'

components:
  securitySchemes:
    immersve_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: See Guides -> Authentication for instructions
    apiKeyHeaderWebhook:
      type: apiKey
      in: header
      name: APIKEY
      description: The API key provided by you to Immersve
    apiSecretHeader:
      type: apiKey
      in: header
      name: x-api-secret
    accountIdHeader:
      type: apiKey
      in: header
      name: x-account-id
      description: The target account id. If targeting the root account, this can be omitted (for example creating an account)
