openapi: 3.0.0
servers:
  - url: https://api.immersve.com/
    description: Sandbox server
info:
  version: 1.0.0
  title: Immersve API
  x-logo:
    url: "https://www.immersve.com/img/immersvelogo-bf8a9fe8408d733c996c2f7d8251e521.svg"
    altText: Immersve logo
tags:
  - name: authentication
    x-displayName: Authentication
  - name: accounts-custodial
    x-displayName: Accounts (Custodial)
  - name: assets
    x-displayName: Assets
  - name: asset-activities
    x-displayName: Asset activities
  - name: card
    x-displayName: Cards
  - name: cards-custodial
    x-displayName: Cards (Custodial)
  - name: currency
    x-displayName: Currency
  - name: transactions
    x-displayName: Transactions
  - name: kyc-custodial
    x-displayName: KYC (Custodial)
security:
  - immersve_auth: []
paths:
  '/siwe/generate-challenge':
    $ref: './endpoints/login/siwe-generate-challenge.yaml'
  '/siwe/login':
    $ref: './endpoints/login/siwe-login.yaml'
  '/api/cards/orders':
    $ref: './endpoints/cards/card-order.yaml'
  '/api/cards/{cardId}/cancel-async':
    $ref: './endpoints/cards/card-cancel.yaml'
  '/api/cards/{cardId}/cancel':
    $ref: './endpoints/cards/card-cancel-deprecated.yaml'
  '/api/cards/{cardId}/pan-token':
    $ref: './endpoints/cards/card-pan-token.yaml'
  '/api/cards/get-prerequisite-transactions':
    $ref: './endpoints/cards/card-get-prerequisite-transactions.yaml'
  '/v1/auth/pan/token/validate':
    $ref: './endpoints/cards/secure-card-details.yaml'
  '/api/cards/account/{accountId}/block':
    $ref: './endpoints/cards/cards-list.yaml'
  '/api/currencies':
    $ref: './endpoints/currency/currency-list.yaml'
  '/api/currency/convert':
    $ref: './endpoints/currency/currency-convert.yaml'
    servers:
      - url: https://mobile.apac-uat.aws.tst.e6tech.net/restful/
        description: Secure card details server
  '/api/assets':
    $ref: './endpoints/assets/asset-balance-get.yaml'
  '/api/transactions/{transaction-id}':
    $ref: './endpoints/transactions/transaction-get.yaml'
  '/api/accounts/{account-id}/transactions':
    $ref: './endpoints/transactions/transactions-list.yaml'
  '/api/custodial/accounts':
    $ref: './endpoints/accounts/account-create-custodial.yaml'
  '/api/custodial/accounts/{accountId}':
    $ref: './endpoints/accounts/account-single-custodial.yaml'
  '/api/custodial/accounts/{accountId}/cancel':
    $ref: './endpoints/accounts/account-cancel-custodial.yaml'
  '/api/custodial/cards':
    $ref: './endpoints/cards/card-create-custodial.yaml'
  '/api/custodial/cards/{cardId}/close':
    $ref: './endpoints/cards/card-close-custodial.yaml'
  '/api/custodial/cards/{cardId}/block':
    $ref: './endpoints/cards/card-block-custodial.yaml'
  '/api/custodial/cards/{cardId}/unblock':
    $ref: './endpoints/cards/card-unblock-custodial.yaml'
  # '/api/cards/{cardId}/activate':
  #   $ref: './endpoints/cards/card-activate.yaml'
  '/api/custodial/cards/{cardId}':
   $ref: './endpoints/cards/card-get-custodial.yaml'

  '/api/custodial/kyc-resources':
    $ref: './endpoints/kyc/upload-kyc-resource.yaml'
components:
  securitySchemes:
    immersve_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: See Guides -> Authentication for instructions
    apiSecretHeader:
      type: apiKey
      in: header
      name: x-api-secret
    accountIdHeader:
      type: apiKey
      in: header
      name: x-account-id
      description: The target account id. If targeting the root account, this can be omitted (for example creating an account)
