openapi: 3.0.0
servers:
  - url: https://api.sb1.lol/
    description: Sandbox server
info:
  version: 1.0.0
  title: Immersve API
  x-logo:
    url: "https://www.immersve.com/img/immersvelogo-bf8a9fe8408d733c996c2f7d8251e521.svg"
    altText: Immersve logo
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: card
    x-displayName: Cards
  - name: authentication
    x-displayName: Authentication
  - name: currency
    x-displayName: Currency
x-tagGroups:
  - name: General
    tags:
      - card
      - currency
paths:
  "/siwe/generateChallenge":
    post:
      tags:
        - authentication
      summary: Generate Challenge
      description: |
        Generating the challenge is the first step in the process of getting the authentication token
      requestBody:
        content:
          application/json:
            schema:
              $ref: './models/challenge-request.yaml'
        required: true
      responses:
        "200":
          description: Challenge to be signed in EIP-4361 format
          content:
            text/plain:
              example: |
                app.immersve.com wants you to sign in with your Ethereum account:
                0xA3058369d6A481B1ff08F62B352409c3D709De9b

                Sign in with Ethereum to the app. This request will not trigger a blockchain transaction or cost any gas fees.

                URI: https://app.immersve.com
                Version: 1
                Chain ID: 1
                Nonce: 2hFm7TDbZmerUgnrJ
                Issued At: 2022-08-11T22:29:48.244Z
  "/siwe/login":
    post:
      tags:
        - authentication
      summary: Login
      description: |
        The login endpoint returns the authentication token in exchange 
        for the previously issued challenge signed with the users wallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: './models/login-request.yaml'
        required: true
      responses:
        "200":
          description: successful login
          content:
            application/json:
              schema:
                $ref: "./models/login-response.yaml"
        "400":
          description: Login unsuccessful
          content:
            application/json:
              example:
                status: 400
                message: "Invalid message."
  "/api/cards/orders":
    post:
      tags:
        - card
      summary: Order a card
      description: |
        Order a virtual credit card for the current user
      operationId: orderCard
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - transactionHash
              properties:
                transactionHash:
                  type: string
                  description: The hash of transaction transferring USDC to Immersve Payment Gateway smart contract
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "./models/card.yaml"
  "/api/cards/{cardId}/cancel":
    post:
      tags:
        - card
      summary: Cancel card
      description: Cancel the card
      parameters:
        - name: cardId
          in: path
          description: ID of card to cancel
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "./models/card.yaml"
  "/api/cards/{cardId}/panToken":
    post:
      tags:
        - card
      summary: Generate card PAN token
      description: Generate a token to get the card's detail (full pan and cvv2)
      parameters:
        - name: cardId
          in: path
          description: ID of card to cancel
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: One-time use token for card detail retrieval
                    example: "1E2426184B3676720F36E43A22649AFF-1000041153"
  "/api/currencies":
    get:
      tags:
        - currency
      summary: Currency List
      description: Get the list of supported currencies by Immersve
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./models/currency.yaml"
              example: |
                [
                  {
                    "symbol": "KYD",
                    "label": "CAYMAN ISLAND DOLLAR"
                  },
                  {
                    "symbol": "JPY",
                    "label": "JAPANESE YEN"
                  },
                  {
                    "symbol": "NZD",
                    "label": "NEW ZEALAND DOLLAR"
                  }
                ]
      security:
        - immersve_auth:
  "/api/currency/convert":
    post:
      tags:
        - currency
      summary: Currency Convert
      description: Convert a source currency to a target currency using Mastercard rates
      parameters:
        - name: currency
          in: query
          required: true
          description: The currency alpha code to convert from
          schema:
            type: string
        - name: amount
          in: query
          description: The amount of `currency` to convert to destination currency
          required: true
          schema:
            type: number
            format: decimal
        - name: targetCurrency
          in: query
          description: The target currency alpha code for the conversion. Defaults to `USD`
          required: false
          schema:
            type: string
        - name: fee
          in: query
          description: Optional fee added on top of the conversion. Defaults to `0`
          required: false
          schema:
            type: number
            format: decimal
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "./models/currency-conversion.yaml"
              example: |
                {
                  "currency": "NZD",
                  "convertedCurrency": "USD",
                  "amount": 1000,
                  "convertedAmount": 696.2285,
                  "rate": 0.6962285
                }
      security:
        - immersve_auth:
            - "write:pets"
            - "read:pets"
components:
  securitySchemes:
    immersve_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT