---
import { registry } from 'src/content/registry.mjs';

---
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Token</th>
      </tr>
    </thead>
      <tbody>
      {registry.allTokens().map(token => (
        <tr>
          <td><a href={token.docsPath}>{token.title}</a></td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
