---
import type { Props } from '../props';

import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import NavigationList from './NavigationList.astro';

const navigation = [];

const { sidebar, class: className } = Astro.props;
---

<nav class:list={["text-sm", className]}>
  <NavigationList items={sidebar}/>
</nav>
