---
import { flattenSidebar, type SidebarEntry } from '../../utils/navigation';
import ChevronDownIcon from './icons/ChevronDown.astro';
import Badge from '../../user-components/Badge.astro';

interface Props {
  items: SidebarEntry[];
  nested: boolean;
}

const navigation = [];
const { items, nested, class: className } = Astro.props;
---
<ul role="list" class:list={[ className, 'text-zinc-600 dark:text-zinc-400' ]}>
  {
    items.map((entry) => (
      <li class:list={{ 'font-bold text-black dark:text-white': entry.isCurrent,  }} class="leading-4">
        {entry.type === 'link' ? (
          <div class="ml-4">
            <a
              href={entry.href}
              aria-current={entry.isCurrent && 'page'}
              class:list={{ 'hover:text-indigo-700 dark:hover:text-indigo-400': !entry.isCurrent }}
              {...entry.attrs}
            >
              <div class="py-1.5">{entry.label}</div>
            </a>
          </div>
        ) : (
          <details class="list-none" open>
            <summary class:list={{ 'uppercase text-zinc-900 dark:text-zinc-200 font-medium': nested }} class="flex items-center py-2 cursor-pointer">
              <ChevronDownIcon name="right-caret" size="1.25rem" class="-rotate-90" />
              {entry.label}
            </summary>
            <Astro.self items={entry.entries} nested class="ml-4"/>
          </details>
        )}
      </li>
    ))
  }
</ul>

<style>
details[open] > summary > svg {
  transform: rotate(0deg);
}
</style>
