---
import PageLink from './FooterPageLink.astro';

const { pagination } = Astro.props;
const { prev, next } = pagination;
---
<div class="flex">
  {prev && (
    <div class="flex flex-col items-start gap-3">
      <PageLink label="Previous" page={prev} previous />
    </div>
  )}
  {next && (
    <div class="ml-auto flex flex-col items-end gap-3">
      <PageLink label="Next" page={next} />
    </div>
  )}
</div>

{/* Hack: include footer content here. Should instead override the full
Starlight footer component. */}
<div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40 mt-10">
  <div class="relative px-4 sm:px-8 lg:px-12">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
        <div class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-xs font-medium text-zinc-800 dark:text-zinc-200">
          <a href="https://immersve.com/">Sales</a>
          <a href="https://help.immersve.com/">Support</a>
          <a href="https://docs.immersve.com/">Docs</a>
          <a href="https://docs.immersve.com/api-reference/">APIs</a>
        </div>
        <p class="text-xs text-zinc-600 dark:text-zinc-500">
          &copy; Copyright {new Date().getFullYear()} Immersve. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>
