---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const allDocs = await getCollection('docs');

const fundingProtocolDocs = allDocs.filter(doc => doc.data['fundingProtocol']);

function sourceUrl(doc: CollectionEntry<'docs'>) {
  return doc.data['fundingProtocol']?.source;
}

---
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Protocol</th>
        <th>Source</th>
      </tr>
    </thead>
      <tbody>
      {fundingProtocolDocs.map(doc => (
        <tr>
          <td><a href={'/' + doc.slug}>{doc.data.title}</a></td>
          <td><a href={sourceUrl(doc)}>{sourceUrl(doc)}</a></td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
