---
import { getCollection } from 'astro:content';

const allFundingTypes = await getCollection('funding-types');
const allNetworks = await getCollection('networks');
const allTokensInstalledOnNetworks = await getCollection('network-tokens');
const allDocs = await getCollection('docs');
const supportedTokens = allDocs.filter(doc => doc.data['supportedToken']);
interface Props {
  categories: Array<string>;
}

const { categories } = Astro.props;

function findTokenFromFundingType(fundingTypeSlug: string) {
  return fundingTypeSlug.split('-')[1];
}

function findNetworkToken(networkSlug: string, fundingTypeSlug: string) {
  return allTokensInstalledOnNetworks.filter(
    token => token.slug.includes(networkSlug) && token.slug.includes(findTokenFromFundingType(fundingTypeSlug))
    );
}

function findToken(networkTokenTitle: string) {
  // console.log('networkTokenTitle', networkTokenTitle, supportedTokens)
  return supportedTokens.find(token => token.data.title.includes(networkTokenTitle));
}

const filteredFundingTypes = allFundingTypes.filter(ft => categories?.every(c => ft.data.categories.includes(c)));

const fundingTypes = filteredFundingTypes.map(
    ft => ft.data.networks.map(
      n =>  { const supportedNetwork = allNetworks.find(
        nw => nw.slug.includes(n)
      )
      const networkToken = findNetworkToken(supportedNetwork!.slug, ft.slug)
      const token = findToken(networkToken[0].data.title)

      return {
        network: supportedNetwork,
        fundingType: ft.slug,
        networkToken: networkToken,
        token: token
      }}
    )
  )
  .flat()

---
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Network</th>
        <th>Token</th>
        <th>Funding Type</th>
      </tr>
    </thead>
      <tbody>
        {fundingTypes.map(fundingType => (
          fundingType.network?.data.protocols.map(protocol => (
            <tr>
              <td><nobr>{fundingType.network?.data.title}</nobr></td>
              <td><a href={'/' + fundingType.token?.slug}><nobr>{fundingType.networkToken[0].data.title}</nobr></a></td>
              <td><nobr><code>{fundingType.fundingType}</code></nobr></td>
            </tr>
          ))
        ))}
    </tbody>
  </table>
</div>
