---
import EndpointLink from '../models/EndpointLink.mjs';
import PageLink from '../models/PageLink.mjs';

interface Props {
  href: string;
  title: string;
  page: string;
  endpoint: string;
  anchor: string;
}

class SimpleLink {
  href: string;
  title: string;
  constructor(href: string) {
    this.href = href;
    this.title = href;
  }
}

async function makeLink({ href, title, page, endpoint, anchor }: Props) {
  if (page) {
    return await PageLink.forDocsContentId(page, anchor);
  }
  if (endpoint) {
    return new EndpointLink(endpoint, anchor);
  }
  return new SimpleLink(href);
}

const link = await makeLink(Astro.props);
const title = Astro.props.title ?? link.title;
---

<a href={link.href}>{title}</a>
