---

interface Props {
  primary: string;
  connector: boolean;
}

const { primary: icon, connector }: Props = Astro.props;
const { default: Icon } = await import(`./icons/${icon}.astro`);
---
<li class="list-none my-0">
  <div class="relative mb-8 -ml-6">
    { connector && (
     <span class="absolute left-4 top-8 -ml-px h-full w-0.5 bg-zinc-200 dark:bg-zinc-600" aria-hidden="true"></span>
    )}
    <div class="relative flex space-x-3">
      <div>
        <span class="flex h-8 w-8 items-center justify-center ">
          <Icon class="size-8 text-indigo-400 inline" />
        </span>
      </div>
      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
        {
        // hack: add negative margin to remove child <p> tag margin inherited
        // from prose styles
        }
        <div class="-my-8">
          <slot />
        </div>
      </div>
    </div>
  </div>
</li>
