---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const allDocs = await getCollection('docs');

const supportedChains = allDocs.filter(doc => doc.data['supported-chain']);

function sourceUrl(doc: CollectionEntry<'docs'>) {
  return doc.data['supported-chain']?.docsPath;
}

---
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Chain</th>
      </tr>
    </thead>
      <tbody>
      {supportedChains.map(doc => (
        <tr>
          <td><a href={'/' + doc.slug}>{doc.data.title}</a></td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
