---
import { getCollection } from 'astro:content';

const allDocs = await getCollection('docs');

const supportedTokens = allDocs.filter(doc => doc.data['supported-token']);

---
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Token</th>
      </tr>
    </thead>
      <tbody>
      {supportedTokens.map(doc => (
        <tr>
          <td><a href={'/' + doc.slug}>{doc.data.title}</a></td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
