---
import { getCollection } from 'astro:content';

const allNetworkTokens = await getCollection('network-tokens');
const allNetworks = await getCollection('networks');

interface Props {
  token: string;
  type: string;
}

const { token, type } = Astro.props;

function isTargetType(tokenSlug: string, type: string ) {
  const network = allNetworks.find(n => tokenSlug.includes(n.slug));
  return network?.data.netType === type;
}

const targetTokens = allNetworkTokens.filter(t => t.slug.includes(token) && isTargetType(t.slug, type));

function wrappableAddress(addr: string) {
  return addr.match(/.{1,30}/g)!.join('<wbr>');
}

---
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Chain</th>
        <th>Token Address</th>
      </tr>
    </thead>
      <tbody>
      {targetTokens?.map(token => (
        <tr>
          <td><nobr>{token.data.title}</nobr></td>
          <td><a href={token.data.url} target="_blank" set:html={wrappableAddress(token.data.address)}></a></td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
