---
import WarningIcon from './icons/WarningIcon.astro';
---
<div class="my-6 flex gap-2.5 rounded-2xl border border-red-500/20 bg-red-50/50 p-4 leading-6 text-red-900 dark:border-red-500/30 dark:bg-red-500/5 dark:text-red-200 dark:[--tw-prose-links-hover:theme(colors.red.300)] dark:[--tw-prose-links:theme(colors.white)]">
  <WarningIcon class="mt-1 h-4 w-4 flex-none fill-red-500 stroke-white dark:fill-red-200/20 dark:stroke-red-200" />
  <div class="[&>:first-child]:mt-0 [&>:last-child]:mb-0">
    <slot />
  </div>
</div>
