openapi: 3.1.0
servers:
  - url: https://api.immersve.com
    description: Live API Server
  - url: https://test.immersve.com
    description: Test API Server
info:
  version: 1.0.0
  title: Immersve API
tags:
  - name: authentication
    x-displayName: Authentication
  - name: accounts
    x-displayName: Accounts
  - name: client-application
    x-displayName: Client Applications
  - name: card
    x-displayName: Cards
  - name: contact-details
    x-displayName: Contact Details
  - name: cardholder-blocks
    x-displayName: Cardholder Blocks
  - name: currency
    x-displayName: Currency
  - name: funding-source
    x-displayName: Funding Sources
  - name: funding-channel
    x-displayName: Funding Channels
  - name: payments
    x-displayName: Payments
  - name: kyc
    x-displayName: KYC
  - name: file-uploads
    x-displayName: File Uploads
  - name: partner-profiles
    x-displayName: Partner Profiles
  - name: prerequisites
    x-displayName: Prerequisites
  - name: simulator
    x-displayName: Simulator
  - name: regions
    x-displayName: Regions
  - name: support
    x-displayName: Support
  - name: fault-injection
    x-displayName: Fault Injection
  - name: webhooks
    x-displayName: Webhooks

security:
  - { "Access Token": [] }
  - { "Access Token": [], "Target Account": [] }
  - { "Api Key": [], "Api Secret": [] }
  - { "Api Key": [], "Api Secret": [], "Target Account": [] }

# The order of the paths defines the order of pages in the sidebar navigation.
# The tags field in the yaml files defines the grouping in the sidebar navigation.
paths:
  # Auth
  "/auth/signup":
    $ref: "./endpoints/login/signup.yaml"
  "/auth/login-init":
    $ref: "./endpoints/login/login-init.yaml"
  "/auth/login-complete":
    $ref: "./endpoints/login/login-complete.yaml"
  "/auth/logout":
    $ref: "./endpoints/login/logout.yaml"
  "/auth/token":
    $ref: "./endpoints/login/auth-token-exchange.yaml"
  "/api/challenges":
    $ref: "./endpoints/login/create-challenge.yaml"
  "/siwe/generate-challenge":
    $ref: "./endpoints/login/siwe-generate-challenge.yaml"
  "/siwe/login":
    $ref: "./endpoints/login/siwe-login.yaml"

  # Accounts
  "/api/accounts":
    post: { $ref: "./endpoints/accounts/accounts-create.yaml" }
  "/api/accounts/{accountId}":
    $ref: "./endpoints/accounts/accounts-get.yaml"

  # Cards
  "/api/cards":
    $ref: "./endpoints/cards/create-card-async.yaml"
  "/api/accounts/{accountId}/cards":
    $ref: "./endpoints/cards/cards-list.yaml"
  "/api/cards/{cardId}":
    $ref: "./endpoints/cards/card-get.yaml"
  "/api/cards/{cardId}/set-pin":
    $ref: "./endpoints/cards/card-set-pin.yaml"
    servers:
      [
        { url: https://test-sec.immersve.com },
        { url: https://api-sec.immersve.com },
      ]
  "/api/cards/{cardId}/cancel-async":
    $ref: "./endpoints/cards/card-cancel.yaml"
  "/api/cards/{cardId}/freeze":
    $ref: "./endpoints/cards/card-freeze.yaml"
  "/api/cards/{cardId}/unfreeze":
    $ref: "./endpoints/cards/card-unfreeze.yaml"
  "/api/cards/{cardId}/pan-token":
    $ref: "./endpoints/cards/card-pan-token.yaml"

  # Cardholder Blocks
  "/api/cardholders/{cardholderAccountId}/blocks":
    get: { $ref: "./endpoints/cardholder-blocks/get-cardholder-blocks.yaml" }

  # Currency
  "/api/currencies":
    $ref: "./endpoints/currency/currency-list.yaml"
  "/api/currency/convert":
    $ref: "./endpoints/currency/currency-convert.yaml"

  # Payments
  "/api/transactions/{transactionId}":
    $ref: "./endpoints/transactions/transaction-get.yaml"
  "/api/accounts/{accountId}/transactions":
    $ref: "./endpoints/transactions/transactions-list.yaml"
  "/api/accounts/{partnerAccountId}/payment-notifications":
    $ref: "./endpoints/transactions/list-payment-notifications.yaml"
  "/api/payment-notifications/{messageId}":
    $ref: "./endpoints/transactions/get-payment-notification.yaml"

  # Files
  "/api/file-uploads":
    post: { $ref: "./endpoints/file-uploads/upload-file.yaml" }
  "/api/file-uploads/{fileUploadId}":
    get: { $ref: "./endpoints/file-uploads/get-file-upload.yaml" }

  # Contact Details
  "/api/accounts/{accountId}/contact-details":
    get: { $ref: "./endpoints/contact-details/get-contact-details.yaml" }
    patch: { $ref: "./endpoints/contact-details/update-contact-details.yaml" }

  # Partner Profiles
  "/api/partner-profiles/{accountId}":
    $ref: "./endpoints/partner-profiles/get-partner-profile.yaml"
  "/api/partner-profiles/{accountId}/configure":
    $ref: "./endpoints/partner-profiles/configure-partner-profile.yaml"

  # Prerequisites
  "/api/spending-prerequisites":
    $ref: "./endpoints/prerequisites/spending-prerequisites.yaml"

  # KYC
  "/api/accounts/{cardholderAccountId}/partner-kyc-statement":
    put: { $ref: "./endpoints/kyc/submit-partner-kyc-statement.yaml" }
    get: { $ref: "./endpoints/kyc/retrieve-partner-kyc-statement.yaml" }
  "/api/accounts/{accountId}/kyc-profile":
    get: { $ref: "./endpoints/kyc/get-kyc-profile.yaml" }
  "/api/accounts/{cardholderId}/expected-spend-amount":
    get:
      {
        $ref: "./endpoints/expected-spend-amount/get-expected-spend-amount.yaml",
      }
    post:
      {
        $ref: "./endpoints/expected-spend-amount/update-expected-spend-amount.yaml",
      }
  "/api/accounts/{cardholderId}/residential-addresses":
    get:
      {
        $ref: "./endpoints/residential-addresses/get-residential-addresses.yaml",
      }
    post:
      {
        $ref: "./endpoints/residential-addresses/submit-residential-addresses.yaml",
      }
  "/api/accounts/{partnerAccountId}/supported-regions":
    get: { $ref: "./endpoints/regions/get-supported-regions.yaml" }

  # Simulator
  "/api/simulator/authorize":
    $ref: "./endpoints/simulator/authorize.yaml"
    servers: [{ url: https://test.immersve.com }]
  "/api/simulator/clear":
    $ref: "./endpoints/simulator/clear.yaml"
    servers: [{ url: https://test.immersve.com }]
  "/api/simulator/reverse":
    $ref: "./endpoints/simulator/reverse.yaml"
    servers: [{ url: https://test.immersve.com }]
  "/api/simulator/execute-deposit":
    $ref: "./endpoints/simulator/execute-simulator-deposit.yaml"
    servers: [{ url: https://test.immersve.com }]
  "/api/simulator/execute-withdrawal":
    $ref: "./endpoints/simulator/execute-simulator-withdrawal.yaml"
    servers: [{ url: https://test.immersve.com }]

  # Funding
  "/api/accounts/{accountId}/funding-sources":
    $ref: "./endpoints/funding-sources/list-funding-sources.yaml"
  "/api/funding-source/{fundingSourceId}":
    $ref: "./endpoints/funding-sources/get-funding-source.yaml"
  "/api/funding-sources":
    $ref: "./endpoints/funding-sources/create-funding-source.yaml"
  "/api/funding-sources/{fundingSourceId}/interactions":
    $ref: "./endpoints/funding-sources/funding-source-interactions-get.yaml"
  "/api/funding-sources/{fundingSourceId}/withdraw":
    $ref: "./endpoints/funding-sources/withdrawal-intent-create.yaml"
  "/api/funding-channel/{fundingChannelId}":
    $ref: "./endpoints/funding-channel/funding-channel-get.yaml"
  "/api/funding-channels":
    $ref: "./endpoints/funding-channel/funding-channel-create.yaml"
  "/api/accounts/{accountId}/funding-channels":
    $ref: "./endpoints/funding-channel/funding-channels-list.yaml"

  # Clients
  "/api/client-applications/{clientApplicationId}":
    $ref: "./endpoints/client-application/client-application-get.yaml"
  "/api/client-applications/{clientApplicationId}/update-origins":
    $ref: "./endpoints/client-application/client-application-update-origins.yaml"

  # Support
  "/api/support-sessions":
    $ref: "./endpoints/imsv-support/support-session-create.yaml"

  # Faults
  "/api/fault-types":
    get: { $ref: "./endpoints/fault-injection/list-fault-types.yaml" }
  "/api/accounts/{accountId}/fault-configs":
    get: { $ref: "./endpoints/fault-injection/list-fault-configs.yaml" }
  "/api/accounts/{accountId}/fault-configs/{faultTypeName}":
    put: { $ref: "./endpoints/fault-injection/set-fault-config.yaml" }
    delete: { $ref: "./endpoints/fault-injection/delete-fault-config.yaml" }

  # Webhooks
  "/api/webhook-listeners":
    $ref: "./endpoints/webhooks/create-webhook-listener.yaml"
  "/api/webhook-listeners/{listenerId}":
    get: { $ref: "./endpoints/webhooks/get-webhook-listener.yaml" }
    delete: { $ref: "./endpoints/webhooks/delete-webhook-listener.yaml" }
  "/api/accounts/{accountId}/webhook-listeners":
    $ref: "./endpoints/webhooks/list-webhook-listeners-by-accountId.yaml"
  "/api/webhook-listeners/{listenerId}/subscribe":
    $ref: "./endpoints/webhooks/add-webhook-topic-subscription.yaml"
  "/api/webhook-test-notifications":
    $ref: "./endpoints/webhooks/send-webhook-test-notification.yaml"
  "/api/webhook-listeners/{listenerId}/unsubscribe":
    $ref: "./endpoints/webhooks/remove-webhook-topic-subscription.yaml"
  "/api/accounts/{accountId}/webhook-notifications":
    $ref: "./endpoints/webhooks/list-webhook-notifications.yaml"

components:
  parameters:
    cardIdPath:
      $ref: "./models/card-id-path.yaml"
    accountIdPath:
      $ref: "./models/account-id-path.yaml"
  securitySchemes:
    "Access Token":
      type: http
      scheme: bearer
      bearerFormat: JWT
    "Api Key":
      type: apiKey
      in: header
      name: x-api-key
      description: See Guides -> Authentication for instructions
    "Api Secret":
      type: apiKey
      in: header
      name: x-api-secret
    "Target Account":
      type: apiKey
      in: header
      name: x-account-id
      description: The target account ID. If targeting the root account, this can be omitted (for example creating an account)
